[2017-09-20 15:29] caiotarifa commented on #2785
I found a solution but I don't know if it is the best option.

In `application.rb`,  line `64`, just add `bower_components` asset path:

[code]

[2017-09-20 18:29] vicnicius commented on #2785
@caiotarifa you can run `npm link` on your catarse.js repo and then `npm link catarse.js` on your catarse repo. Bower is deprecated.

[2017-09-21 16:52] caiotarifa commented on #2785
Thanks, @vicnicius. I'll try.

What do you think about update _development_ section on [catarse.js](https://github.com/catarse/catarse.js)?

If you agree, I can submit a pull request.

[2017-09-21 16:52] #2785 closed

[2017-09-21 18:14] vicnicius commented on #2785
If you have the time, please do it. We do need some help with the docs.

[2017-09-22 18:16] mfonolleda opened #2788 "Redirect not authenticated sessions to login page instead of sign_up"
Hi, I'm trying to configure Catarse so that when a visitor that is not authenticated to the app tries to contribute to a project, the user is redirected to the login page instead of the sign up/registration page.

Any help or pointers would be much appreciated. Thnx!

[2017-09-27 16:20] bonafernando commented on #2535
I'm experiencing the same... Works fine on development, but it's not working on Heroku. Anyone know how to solve it? (tag v2.0)

[2017-09-27 18:41] vicnicius commented on #2535
@bonafernando it's a bit hard to tell. It could be due to bower deprecation but I am really just guessing here. You could try to run it on heroku in development mode and then try to debug it.

[2017-09-27 18:53] bonafernando commented on #2535
@vicnicius , thanks for the quick answer...

Besides this error, I also receive two other error that might be a clue to what's happening...

You can see inspecting the page on: https://serene-island-40633.herokuapp.com

I'm almost sure it's something I configured wrong....

[2017-09-27 19:00] vicnicius commented on #2535
there I can see:

`Uncaught TypeError: mixpanel.track is not a function` is probably related to not having mixpanel configured properly and the other one `Uncaught SyntaxError: Unexpected token ;` is related to not having [vwo](https://vwo.com) properly setup. You can either set them correctly on your Settings DB (you can do this from rails console using CatarseSettings) table or remove the servic

[2017-09-27 19:09] bonafernando commented on #2535
How could I remove those services?

[2017-09-27 19:40] bonafernando commented on #2535
@vicnicius
I can see why you didn't see the other error mentioned before. It happens only when clicking on your profile picture when logged in.

But here is what happens:

[code]

[2017-09-27 19:52] vicnicius commented on #2535
You can just try to look for the places where those services' JS are included and remove it. They are probably on a template partial somewhere. And it's probably because of the fact that they are breaking that the rest of the js is also. But as I said, I'm not entirely sure. It's been a while since we released v.2.0.

[2017-09-27 20:27] bonafernando commented on #2535
@vicnicius thank you very much! After removing the dependencies everything worked fine!

[2017-09-28 18:22] ACPK commented on #2757
@luisofribeiro - How's the progress been? 👍

[2017-10-07 17:22] fabianoarruda commented on #2619
I have a similar problem. I'm running a fresh install of catarse. I've created a new user (not admin) and tried to create a new project. But the left tabs are not appearing, and there is no error in Rails console, neither on postgrest console, or even chrome console. I have no idea about what is wrong.

Then I tried creating a project using admin user, and the tabs finally appear.

[2017-10-09 22:59] bonafernando opened #2808 "Tutorial Configuring Payment System"
I have cloned tag v2.0.
I've been working on it for 3 weeks and I'm having trouble configuring any Payment system.
I have tried Pagar.me and MoIP, but there is something missing and could't find the on the documentation how to make it work properly.
I've tried everything I could. I have even tried to Wireshark the API calls to understand what was going on.
Right now I have stopped on a message tha

[2017-10-09 23:18] adrianob commented on #2808
Hi @bonafernando
tag 2.0 is really old and unmantained, I would recommend using the master branch if possible.
MoIP is also not supported anymore, but pagarme should be working fine.
Have you set the keys properly on the settings table? Please post the rails server output when you try to create a payment, it seems that the contribution value is not being sent properly for some reason.

[2017-10-09 23:48] bonafernando commented on #2808
Thank you for the quick answer @adrianob
Do you recommend to keep always on master or any other tag?

The rails output seems completely normal. I believe something about the payment system have changed.
![image](https://user-images.githubusercontent.com/2565620/31363207-2f439aba-ad33-11e7-8f4e-e574c8db84b3.png)

[2017-10-10 00:24] bonafernando commented on #2808
@adrianob

For testing I have used some values on the payment configurations that might be the couse of this error, could you check?

![image](https://user-images.githubusercontent.com/2565620/31363903-1aa14828-ad38-11e7-8db0-65d44a6fb3cb.png)

[code]
The `xxxx` value is the correct key.

[2017-10-10 03:09] bonafernando commented on #2808
@adrianob I've just cloned master followed all the steps and remembered why I decided to go for an older version.

I just couldn't go thru the basic setup:

![image](https://user-images.githubusercontent.com/2565620/31367608-cb642c46-ad4e-11e7-8fa3-9c4b1f70ba00.png)

[2017-10-10 10:22] adrianob commented on #2808
bower is deprecated, run ```npm install``` instead.

[2017-10-10 10:27] adrianob commented on #2808
Those settings should be fine, which version of catarse_pagarme are you using? If you need to run 2.0 tag you should use an older version or it won't be compatible.

[2017-10-10 12:52] bonafernando commented on #2808
The tag v2.0 of Catarse uses as default catarse_pagarme version 2.6.10: https://github.com/catarse/catarse/blob/v2.0/Gemfile#L41

About the `npm install` inside the folder node_modules, can I send a pull request updating the README.md to make it more clear?

[2017-10-10 12:56] adrianob commented on #2808
@bonafernando sure, any help with the documentation is appreciated.
Btw, you should run ```npm install``` on the project's root folder.

[2017-10-10 13:12] bonafernando commented on #2808
Ohh, but that's what I did. And I was still having that error:
[code]
But now, after trying to run `npm install` on sub folders it is not working on the root directory.
[code]
[code]
[code]
Is there a minimum requires version of npm to run catarse?

Also about the tag v2.0 (that I already have some work on it), do you think there is any easy way to make the payment system work. Also I tried to use

[2017-10-10 13:54] bonafernando commented on #2808
@adrianob , I have deleted the node_modules folder and rerun `npm install` and still having this error.

![image](https://user-images.githubusercontent.com/2565620/31389848-a4c8a4f4-ada8-11e7-9331-17e791553af7.png)

I'm in a very big doubt if I migrate all my work to this version on master or if I try to fix the compatibility of the payment system of the tag v2.0. I think I should give a last shot

[2017-10-10 15:45] adrianob commented on #2808
@bonafernando I doubt MoIP will work without modifications, even on tag 2.0 it wasn't being used for a long time.
There should be no problem in using pagarme with v2.0. I'm not sure why it isn't working for you but you could try running the catarse_pagarme gem locally and debug it to see what's going on.

[2017-10-10 15:48] adrianob commented on #2808
In particular see what's being return on this method: https://github.com/catarse/catarse_pagarme/blob/master/app/models/catarse_pagarme/payment_delegator.rb#L52

[2017-10-10 17:45] bonafernando commented on #2808
[code]
Log:
[code]

The error is still happening...

![image](https://user-images.githubusercontent.com/2565620/31401228-af66fc88-adc8-11e7-8249-2cccb207bfdd.png)

I have also add a `puts e.backtrace` at: https://github.com/catarse/catarse_pagarme/blob/v2.6.10/app/controllers/catarse_pagarme/credit_cards_controller.rb#L9
And this is the beginning of it:
[code]

Any other clue?

[2017-10-10 17:54] adrianob commented on #2808
@bonafernando pagarme has multiple API versions, make sure your account is using the correct one (should be the first version).

[2017-10-10 18:01] bonafernando commented on #2808
@adrianob, digging deeper I found the http response from Pagar.me:

[code]

Also searching for the api path:
[code]

Is this the path for the first version?

[2017-10-10 18:05] bonafernando commented on #2808
![image](https://user-images.githubusercontent.com/2565620/31402391-45b73a6a-adcc-11e7-9302-97634872abd2.png)
Should I ask to the support team of Pagar.me to use an older version?

[2017-10-10 18:14] adrianob commented on #2808
It's worth a try. We are at the 2013 version.

[2017-10-10 18:47] bonafernando commented on #2808
@adrianob in parallel of asking permission for the api, I have tracked the PAYLOAD, and it seems kind of wierd. Can you check if it is right?
PAYLOAD:
[code]
Thanks.

[2017-10-10 21:38] bonafernando commented on #2808
@adrianob, thanks for all your help.

After migrated to v2013-03-01 it started to work!

![image](https://user-images.githubusercontent.com/2565620/31411431-0313129e-ade8-11e7-8dee-1ca0734813e6.png)

The other error on the master branch about:
[code]
still without a fix but I'll close this issue as it's not related to the subject.

[2017-10-10 21:39] #2808 closed

[2017-10-17 18:21] bonafernando opened #2815 "Tag v2.0 MoIP Payment Engine"
Hi,

I'm trying to put to work MoIP on tag v2.0.

I know it's an old and not maintained, but is there any version or tag of repository catarse_moip that is compatible with catarse tag v2.0?

I have tested with version 3.2.0, but it trows an error on here: https://github.com/catarse/catarse_moip/blob/v3.2.0/app/controllers/catarse_moip/moip_controller.rb#L28

Because there is no column user_id on t

[2017-10-17 21:19] blaiser49 commented on #2668
#2783 Fixed?

[2017-10-17 21:22] #2668 closed

[2017-10-30 02:22] bonafernando commented on #2318
With this:
[code]
worked for me.

[2017-11-03 20:22] hugodemiglio opened #2831 "Postgrest roles and permissions issues using AWS RDS"
I'm using postgres on AWS RDS (PostgreSQL 9.6.2).

How can I configure permissions and roles for Postgrest?

I have tried this:
[code]

But I still getting errors like:

/contribution_details?order=id.desc
`permission denied for relation contribution_details`

/balance_transactions?order=created_at.desc&user_id=eq.7
`permission denied for relation balance_transactions`

[2017-11-07 10:50] sushant12 commented on #2446
closing, since I am not using docker

[2017-11-07 10:50] #2446 closed

[2017-11-09 19:44] caiotarifa commented on #2831
@hugodemiglio, have you had any luck with this?

I'm experiencing a similar problem here, in my case I running with PostgreSQL 9.4 on macOS.

![](https://user-images.githubusercontent.com/197979/32625960-019126f0-c575-11e7-8be3-ed594129d6f7.png)

The email be `null` when a non-admin user logs in. As I understand it, I think the problem happens because the `web_user` role is getting data from `1` s

[2017-11-25 13:38] ya7ya opened #2853 "Creating a new project redirects to main page."
Hello,
I been trying to deploy catarse to showcase the integration with `paratii-video` ,
I'm running it in `RAILS_ENV=production` and finally got it to work. but when I login and try to create a new project `/pt/projects/new` , When the form is POSTED, i get redirected to the main page. here is a log snippet from the rails server

[code]

**Filter chain halted as :require_no_authentication render

[2017-11-27 09:39] vicnicius commented on #2853
Hi, @ya7ya!

Debugging in production mode might be a bit tricky as you would need to rely on the generated logs only. There might be a configuration for the verbosity of those logs, but I'm not sure and I'm not a Rails specialist - for this @adrianob & @devton would be your best bets.

But from the log, it looks like you are having some sort of authentication issue. Maybe clearing some caches (cli

[2017-11-27 09:50] vicnicius commented on #2788
We use https://github.com/plataformatec/devise to handle authentication. You'll sure find a way to do it there.

[2017-11-27 11:37] ya7ya commented on #2853
Hey @vicnicius ,

Thanks alot for your help, I'm gonna try again and see what i missed, I'm a rails noob so it's probably 99% my fault 😄 , I'm gonna try to set it up on Centos following [this wiki article](https://github.com/catarse/catarse/wiki/Install-on-Centos7-%28minimal%29) and see if i face the same issue.

[2017-11-27 13:40] ya7ya commented on #2853
Quick updates, I started from scratch following the Centos Wiki guide.
at first I had this error `couldn't find file 'mithril-postgrest' with type 'application/javascript'`

so I ran `npm i mithril-postgrest` and now the error is `posgrest is not defined` , you can take a look at the console if you go to [this setup](http://212.71.247.117:3000/)

@vicnicius Any ideas on whats missing here ?

Thank

[2017-11-28 03:24] wallacejsb opened #2859 "Bug when viewing email"
Print Screen:  [https://drive.google.com/file/d/1nUSNZYZkXXzkmFdfg7rKEIJgbFjENBXm/view?usp=sharing](link)
Tranks!

[2017-12-01 22:30] ACPK opened #2868 "Question: Use of common_id and common_type"
If I may ask, when is common_id used?

[2017-12-02 18:43] ACPK opened #2870 "Uncaught TypeError: postgrest$1.model"
When I tried to run the application, I get:

    Uncaught TypeError: postgrest$1.model

It refers to line which:

    country: postgrest$1.model('countries'),

The issue seems to be that the application is still reading the old Catarse.js even after syncing the new changes.

[2017-12-02 19:20] #2870 closed

[2017-12-02 19:21] ACPK commented on #2853
@ya7ya @vicnicius - I just updated to the latest master, and I also get "posgrest is not defined".

@ya7ya  - Did you solve it?

[2017-12-03 20:13] ACPK opened #2872 "posgrest is not defined"
After updating to the latest master, I get the error "postgrest is not defined".

It seems that another user, @ya7ya, also hit this issue in a different issue request: https://github.com/catarse/catarse/issues/2853

[2017-12-03 20:30] vicnicius commented on #2853
We moved our asset package management from bower to npm. And we also released a major change to the postgrest API. Make sure you have version 2.0.0 of mithril-postgrest installed (maybe `rm -rf node_modules && npm install`) and also make sure that your bower dependencies are all gone (`rm -rf vendor/assests/*`)

[2017-12-03 20:30] vicnicius commented on #2872
Answered on the mentioned issue! o/

[2017-12-03 20:30] #2872 closed

[2017-12-03 20:34] ya7ya commented on #2853
@ACPK Hey, I switched to `develop` branch,

remove `package-lock.json` and `node_modules` and run `npm install` . I think it was an out of date catarse.js . I might be wrong.

[2017-12-06 20:43] hugodemiglio commented on #2831
Using the last versions of PostgREST the problem was solved. I think this should be updated in the `README.md`.

[2017-12-06 20:43] #2831 closed

[2017-12-06 20:57] hugodemiglio opened #2883 "How to run Pagar.me conciliation?"
I found some rake tasks for Pagar.me, but when I run it, none of paid transactions are updated on database.

I tried this:
[code]

There is a specific order to run these tasks?
What is the task requirements for it works?

[2017-12-08 02:39] atcoco opened #2890 "DB migration error"
Hi, everyone! Nice to meet you. I'm a rails developer interested in this project.

To setup local dev environment, I have some issues.
When I run rake db:migrate, I get this error:

`PG::UndefinedTable: ERROR:  relation "common_schema.subscriptions" does not exist`

I noticed this error is caused by 20171205174414_add_more_fdw_views.rb.
In the migration file, the env is set as test. So I tried rak

[2017-12-08 09:15] adrianob commented on #2890
Hello!
You need to setup foreign data wrapper before running this migration by running ```rake common:generate_fdw```.
More details available here https://comum.gitbooks.io/docs/content/local-development-setup/catarse-integration-setup.html
We will update the docs shortly.

[2017-12-08 09:21] atcoco commented on #2890
Thanks for your explanation.
I'll try it. 👍

[2017-12-15 15:50] bestsuperweb commented on #2890
Hi Adrianob, Nice to meet you. I encountered this error with migrate.
So i have run `rake common:generate_fdw`, btw there is an error:
`PG::SyntaxError: ERROR:  syntax error at or near "common_db"
LINE 8:         SERVER common_db`
Could you let me know what is the solution.

[2017-12-15 16:21] adrianob commented on #2890
@bestsuperweb you probably haven't set up the necessary settings.
[code]

[2017-12-15 16:27] bestsuperweb commented on #2890
Thanks for adrianob,
Could you let me know old version url?

[2017-12-15 17:59] adrianob commented on #2890
@bestsuperweb I've create a new tag with the latest stable version here https://github.com/catarse/catarse/releases/tag/3.0

[2017-12-15 18:08] bestsuperweb commented on #2890
Thanks, @adrianob

[2018-01-12 02:02] mcamacho828 opened #2915 "Run proyect"
I'm looking for a project to launch a crowdfunding website, would like to know if this project may be in production? This is one of the best projects I've seen, congratulations and thanks for sharing with everyone

[2018-02-10 03:02] ACPK opened #2927 "BUG: Duplicate Emails"
I've noticed that emails on Catarse are duplicated (first noticed it in May of 2017).  It still seems to be a problem as I received two duplicate emails from "assubaturas@catarse.me" at 7:50pm EST and  7:52pm EST.

[2018-02-10 03:05] ACPK commented on #2734
@radvc  - Did you sign up on Catarse.me?

[2018-02-14 06:31] juniorve opened #2928 "Error migrations database"
Hello, I'm trying to run the application and I run into an error migrating the database, I followed these instructions https://github.com/catarse/catarse/issues/2890 to solve the problem and I get this error, "no I have a role to catarse"
![alt text](http://i68.tinypic.com/15ojvk3.jpg "Logo Title Text 1")

[2018-02-20 18:30] punse opened #2931 "Developing"
Hello, there is a version of this project "ready to go", where you can upload scripts on linux hosting with mysql? Thanks

[2018-02-20 18:40] adrianob commented on #2931
There is no mysql support. Any version will take some work to setup, but if you want easy setup on heroku I would recommend 2.0: https://github.com/catarse/catarse/releases/tag/v2.0
Note however that this version is very outdated.

[2018-02-20 18:40] #2931 closed

[2018-03-15 05:12] sushant12 opened #2940 "Updating `Projetos ja foram financiados por aqui` in `Comece seu projeto`"
Hi guys,

I am running a fork of Catarse in my own prod env. So far I have 1 successful project.

Can you tell me how the value for `Projetos ja foram financiados por aqui` in `Comece seu projeto` page is updated ???

[2018-03-15 11:44] adrianob commented on #2940
If you mean the I18n it's located in ```config/locales/catarse_bootstrap/views/pages/start.pt.yml```.
If you mean the number of successful projects it comes from the "1".statistics materialized view, the job to refresh it automatically is defined in config/schedule.rb.

[2018-03-15 11:47] sushant12 commented on #2940
i meant the latter.I did run `rake cron:refresh_materialized_views ` but the number was still not updated, however the other two values beside it were updated.

[2018-03-15 11:51] adrianob commented on #2940
Try running ```refresh materialized view CONCURRENTLY "1".statistics;``` directly on your DB, if it works it should be only a matter of setting up the refresh job properly.

[2018-03-15 11:54] adrianob commented on #2940
Btw it seems you are running an older version of catarse, since we don't have that cron job anymore... I don't remember if there were any bug fixes related to this, but it should be working on the latest version.

[2018-03-15 11:55] sushant12 commented on #2940
@adrianob no problem. I am working on it

[2018-03-15 11:55] #2940 closed

[2018-03-15 12:02] sushant12 commented on #2940
@adrianob my apologies. I had commented out some rake cron commands.

[2018-03-19 09:07] kashiftufail commented on #2890
Hi @adrianob,

I have set these values on Rails console

      CatarseSettings[:common_db_name] = 'service_core'
      CatarseSettings[:common_db_port] = '5444'

       CatarseSettings[:fdw_user] = 'read_user_fdw'
       CatarseSettings[:common_db_user] = 'read_user_fdw'
       CatarseSettings[:common_db_password] = 'example_fdw'

when i  run
           rake common:generate_fdw

I have this error

[2018-03-19 11:35] adrianob commented on #2890
@kashiftufail those are just example values, the role needs to exist in the first place.
If you are using the default configs in https://github.com/common-group/services-core-db then these settings should work out of the box:
[code]

[2018-03-20 02:33] licolsan commented on #2928
I have same issue with you. Can you please comment on this link?
[https://github.com/catarse/catarse/issues/2890](url)

[2018-03-20 02:36] kashiftufail commented on #2890
@licolsan it is just dummy values. I am trying to run catarse on my local  from 2 days but not successfull. Instruction are not well defined in Readme file.

[2018-03-20 02:55] licolsan commented on #2890
Yeah, me too. And I don't know where the "catarse" role come from?

`PG::UndefinedObject: ERROR:  role "catarse" does not exist`

[2018-03-20 03:50] licolsan commented on #2890
I fix my problem by adding role "catarse" to postgresql db

[2018-04-02 03:52] istehbabunqa commented on #2890
Hello, @adrianob:

(1) Documentation for install is not updated with this one yet. When is that expected ? This is urgent/critical for first installs

(2) You want everyone to "manually" enter these settings in rake console everytime they run this app ? Wouldn't it have been better to have and read these settings in/from a config file ?

[2018-04-02 13:18] adrianob commented on #2890
@istehbabunqa documentation is indeed severely outdated right now. When we finish migrating everything to the new services-core-db all these FDW steps won't be necessary anymore, but for now A PR would be welcomed to integrate @licolsan instructions into the README.

For production environment you will need at least 2 db instances. One for the rails app and another one for services-core-db. FDW is

[2018-04-25 14:10] adilnaimi opened #2981 "Rails upgrading to 5.2 (question)"
This isn't really an issue.

Is there any plan to upgrade to rails `5.2`?

[2018-04-25 14:48] adrianob commented on #2981
There are no plans since we are gradually moving away from Rails.
However any PRs in this regard would be welcomed.

[2018-04-25 17:24] adilnaimi commented on #2981
@adrianob thanks for your feedback

You mean by moving away from Rails to change to another web framework? which one?

[2018-04-30 19:40] adilnaimi commented on #2981
this issue/question can be closed

[2018-04-30 19:40] #2981 closed

[2018-05-09 22:25] giubueno commented on #2883
Is it still a problem?

[2018-05-13 09:46] WizardKid commented on #2449
The issue I am having is that even though I made the changes to English, it isn’t reflecting on the pages. I translated the pt pages to see if it would change and it didn’t

[2018-05-22 22:18] scanferla commented on #2599
This also happens to me!

[2018-05-23 02:38] ACPK commented on #2927
@giubueno - One

[2018-05-23 14:46] WizardKid opened #3009 "Redirection and category issue"
Hi i am using the current catarse as the one on catarse.me - my issue is that the "start your Project or Comece seu projeto" button is redirecting to https://crowdfunding.catarse.me/comece. I tried changing it to /start but that isnt helping. is there a way to keep it within my website or is there something i am missing? and my other issue is that categories not showing up in the dropdown nor anyw

[2018-05-23 16:03] adrianob commented on #3009
Did you insert any categories in the categories table?

[2018-05-23 16:04] WizardKid commented on #3009
Thank you for responding.. and the first solution cleared up the issue with the start project. I uploaded two screenshots so that you can get a better understanding of the issue as I can see anything in the log

[2018-05-23 16:05] WizardKid commented on #3009
The category table was populated in the migrate

[2018-05-23 16:09] WizardKid commented on #3009
The issues is that category is showing in the dropdown and whenever I logged it is showing undefined in the user paths

[2018-05-23 16:17] adrianob commented on #3009
It appears you didn't set the ```jwt_secret``` setting in the settings table.

[2018-05-23 16:21] WizardKid commented on #3009
![screenshot from 2018-05-23 17-20-52](https://user-images.githubusercontent.com/13104065/40437601-ad5340dc-5ead-11e8-8bb5-c7a808faad76.png)
i followed the instruction in the readme.. is there another setting for the jwt?

[2018-05-23 16:28] adrianob commented on #3009
@WizardKid are you working with the latest version? If you used our sample values from here https://github.com/common-group/services-core-db/blob/develop/sample.seed.sql jwt_secret should have a value of ```bUH75katNm6Yj0iPSchcgUuTwYAzZr7C```.

[2018-05-23 16:29] WizardKid commented on #3009
i am working with the latest version

[2018-05-23 16:30] WizardKid commented on #3009
should i execute this into the db? as i spent almost 6 hours getting this current db up

[2018-05-23 16:32] adrianob commented on #3009
Just update the jwt settings like so ```update settings set value = 'bUH75katNm6Yj0iPSchcgUuTwYAzZr7C' where name = 'jwt_secret';```

[2018-05-23 16:33] adrianob commented on #3009
I'm not sure where you came up with the current value in the first place, if you used this anywhere else it should be updated too.

[2018-05-23 16:41] WizardKid commented on #3009
Started GET "/pt/users/undefined/edit" for 127.0.0.1 at 2018-05-23 17:36:46 +0100
  [1m[36mBannedIp Exists (0.7ms)[0m  [1mSELECT  1 AS one FROM "banned_ips" WHERE "banned_ips"."ip" = $1 LIMIT 1[0m  [["ip", "127.0.0.1"]]
  [1m[35mBannedIp Exists (0.5ms)[0m  SELECT  1 AS one FROM "banned_ips" WHERE "banned_ips"."ip" = $1 LIMIT 1  [["ip", "127.0.0.1"]]
Processing by UsersController#edit as HT

[2018-05-23 16:41] WizardKid commented on #3009
this is the current log

[2018-05-26 10:04] WizardKid commented on #3009
anyone can help with this issue.. i have tried everything to get this working

[2018-05-26 11:21] WizardKid commented on #3009
the below image summaries the issue i am having
![screenshot from 2018-05-26 12-15-46](https://user-images.githubusercontent.com/13104065/40575561-0e90a726-60df-11e8-9de0-e144609c0509.png)
this is the catarse user path which assigns numbers to the user paths
![screenshot from 2018-05-26 12-16-18](https://user-images.githubusercontent.com/13104065/40575571-3b7f5aca-60df-11e8-8095-3118bb477871.png)

[2018-05-29 14:43] WizardKid commented on #2603
can someone elaborate on this as I point the api to schema "1" and it crashes but it doesn't crash when I point it to public

[2018-05-30 19:49] WizardKid commented on #3009
Solved

[2018-05-30 19:49] #3009 closed

[2018-06-02 00:52] WizardKid opened #3020 "Comma vs period and a question on sendgrid"
Hi.. I am thankful for the work you guys put in this platform and hope I will contribute more on this work. My issue/question is there seems to be a syntax error when I am changing the period to comma eg. Catarse currently have $35.000 but when I change it to $35,000 I received an error. Is there a way to get this to show the amount with the comma? SendGrid - my SendGrid doesn’t seem to work even

[2018-06-03 19:39] WizardKid opened #3021 "Country Dropdown tab and campaign amount error"
Hi I seem to be having some issues with the country dropdown selection. it isn't populating any values
![country](https://user-images.githubusercontent.com/13104065/40890427-bee5f43e-676d-11e8-9b46-e3cefe127755.PNG)

and also if I should enter the project amount the comma isn't remaining in the correct place (see img)
![capture](https://user-images.githubusercontent.com/13104065/40890437-ea5f2806-

[2018-06-04 15:28] WizardKid commented on #3021
thank you very much.. can you point to the locations of these hardcodes so I make these changes.. I have worked single handed on this website so it should be a walk in the park (www.oppostarter.com)

[2018-06-04 15:40] adrianob commented on #3021
I don't know off the top of my head but you'll probably need to update the input standard both on rails and on mithril components that use them.

[2018-06-04 15:40] WizardKid commented on #3021
ok

[2018-06-04 15:41] WizardKid commented on #3021
Thank you very much

[2018-06-04 21:26] WizardKid commented on #3021
hi @adrianob I have reopen this issue as the country tab still not resolved. Also while searching through the files for the currency fix I found this in .\node_modules\catarse.js\src\c\project-goal-edit-card.js
"monetaryToFloat = (propValue: Function): number => {
        if (_.isNumber(propValue())) {
            return parseFloat(propValue());
        }

        return parseFloat(propValue().rep

[2018-06-04 21:42] #3021 closed

[2018-06-04 22:24] adrianob commented on #3021
@WizardKid I believe this overrides the default browser numeric field to use the brazilian standard. Also, if you want to modify any mithril files you should clone the catarse.js repo and ```npm link``` them instead of editing from node_modules directly.

[2018-06-04 22:26] WizardKid commented on #3021
ok thank you.. I cant seem to find the direct string to the currency

[2018-06-06 15:38] WizardKid opened #3025 "Countries in view "1""
@adrianob hi and hope you are doing good.. I am trying to solved the blank country field. I checked in the database and it is populated with data in the schema-public "country" and schema 1 "materialized view" however there is no country in view in schema 1 "view"
![schema_1](https://user-images.githubusercontent.com/13104065/41048895-a6557246-69a7-11e8-93da-80e1c7747bb3.PNG)
should this be or the

[2018-06-08 22:12] WizardKid opened #3028 "Project not updating in database"
Hi I have solved most issues I have raised. However, I am experiencing an issue that I cant solved and requesting some help on it. whenever I put contents in the project descriptions and budget boxes and click save, it isn't saving and the database isn't reflecting any new data in the project tables. Can you please let me know what is the issue here?
![capture](https://user-images.githubuserconten

[2018-06-08 22:40] WizardKid commented on #2487
I am having issues with this

[2018-06-08 22:43] adrianob commented on #2487
This calls ```validate_publish``` on the projects controller, which tries to change the project state to online on the state machine and returns any errors generated if it fails.

[2018-06-09 10:13] WizardKid commented on #3028
To save the data I have to do it manually by entering 'something' 'normally' 'works' 'here' 'but' 'not' 'sure' 'why' 'it' 'isn't' 'now' 'but' 'will' 'check' in the database.

[2018-06-09 10:15] WizardKid commented on #3028
Error page
Redis::CannotConnectError (Error connecting to Redis on localhost:6379 (Errno::ECONNREFUSED)):
Jun 09 03:13:59 oppostarter app/web.1:   app/observers/project_observer.rb:50:in `from_draft_to_online'
Jun 09 03:13:59 oppostarter app/web.1:   app/state_machine/flex_project_machine.rb:88:in `block in setup_machine'
Jun 09 03:13:59 oppostarter app/web.1:   app/state_machine/flex_project_mach

[2018-06-09 10:15] WizardKid commented on #3028
@adrianob @vicnicius

[2018-06-11 21:49] robotscissors commented on #2629
@vicnicius, I am new to this Repository. Can I make this modification and submit a PR?

[2018-06-12 20:45] vicnicius commented on #3028
Hi, @WizardKid,

From your output, we can see that you have an issue with Redis on your environment.

`Redis::CannotConnectError (Error cthinonnecting to Redis on localhost:6379 (Errno::ECONNREFUSED)):`

Redis is needed to manage sessions on Rails, so this is probably preventing Rails from saving this data to the database.

You could try to restart Redis (on linux this would be `sudo service redis

[2018-06-12 20:47] vicnicius commented on #3025
On your other issue, you mentioned that this was already solved, right? Can you give us a hint on how to solve it and close this issue?

[2018-06-12 20:50] WizardKid commented on #3028
Hi @vicnicius thanks for responding.  I have solved that issue.. the issue i am having now is 1. i have to manually put data in the database for project description and the budget description in order to proceed to the next step and even after the project is online it isnt showing up in explore (it is saying 0 projects and 2. the country dropdown isnt showing any data even though in the database t

[2018-06-12 20:52] WizardKid commented on #3025
I havent solved this issue yet. I believe i solved the other related issues in that issue

[2018-06-12 21:00] vicnicius commented on #2928
@juniorve, as @licolsan the fix for that is mentioned [here](https://github.com/catarse/catarse/issues/2890). Creating the role `catarse` should fix this issue.

[2018-06-12 21:10] vicnicius commented on #3028
@WizardKid I'm leaving now but I can take a look at it tomorrow. For 2 it would be nice if you could provide the outputs from those 2 endpoints (postgrest logs and browser network inspector). Do they have any errors? For 1, is it only happening in those 2 fields?  Also, do you have any errors on any logs (rails or browser)?

[2018-06-12 21:20] WizardKid commented on #3028
for 1 it is only happening in those fields (the database is giving a payment.service missing)

[2018-06-12 21:21] WizardKid commented on #3028
here is the heroku logs for the site:

Jun 12 14:13:34 oppostarter heroku/web.1: State changed from up to starting
Jun 12 14:13:34 oppostarter heroku/web.1: Stopping all processes with SIGTERM
Jun 12 14:13:35 oppostarter app/web.1: Unicorn worker intercepting TERM and doing nothing. Wait for master to sent QUITUnicorn worker intercepting TERM and doing nothing. Wait for master to sent QUITUnicorn

[2018-06-12 21:28] WizardKid commented on #3028
the browser element:
Loading failed for the <script> with source “https://assets.zendesk.com/external/zenbox/v2.6/zenbox.js”.
new-admin:4
Deprecation warning: use moment.updateLocale(localeName, config) to change an existing locale. moment.defineLocale(localeName, config) should only be used for creating a new locale See http://momentjs.com/guides/#/warnings/define-locale/ for more info.
applicati

[2018-06-17 20:07] dionysusyan opened #3034 "Cannot execute step: rake db:create db:migrate db:seed"
When I try executing it, the rake gets aborted with 3 issues:

1) Syntax error in catarse/config/boot.rb:16, unexpected ':', expected end-of-input development.  Had a look at this file and although i dont quite know the syntax, the file looks fine to me.

2) catarse/config/application.rb:3 in '<top (required)>'

3) catarse/Rakefile:6 in '<top (required)>'

Can someone help me resolve?

[2018-06-21 18:12] mjt07 opened #3036 "EN Invalid locale"
Hello everyone,
I installed catarse using this guide for ubuntu: https://marcclifton.wordpress.com/2013/07/26/getting-catarse-to-build-and-run/

Everything works fine.However, when I try to change the locale to english.I get an invalid locale error. How can I get the english version? this is my locale.rb:
![screenshot from 2018-06-21 21-05-32](https://user-images.githubusercontent.com/24914360/417

[2018-07-04 06:13] zahidirfan opened #3040 "Should not this be => instead of exact version?"
https://github.com/catarse/catarse/blob/5ceff7f1d919383ff879f994c0eed8ecf6124c3e/Gemfile#L3

[2018-07-08 23:18] WizardKid commented on #3036
there are few places you need to change from. the locale files and also catarse.js - check oppostarter.com it is fully english

[2018-07-14 07:14] uira opened #3048 "Add another Oauth Provider"
Today, catarse supports third party Oauth login, but just from a specific provider: Facebook.

We want to extend this implementing another provider, and maybe another protocol such as OpenID Connect.

Can someone help me?

[2018-07-14 13:41] uira commented on #3048
In a quick search I found this probably related files:

- https://github.com/catarse/catarse/blob/develop/spec/factories.rb#L348
- https://github.com/catarse/catarse/blob/develop/app/workers/facebook_scrape_reload_worker.rb
- https://github.com/catarse/catarse/blob/develop/app/workers/fb_page_collector_worker.rb
- https://github.com/catarse/catarse/blob/develop/db/seeds.rb#L85
- https://github.com

[2018-07-16 20:44] vicnicius commented on #3048
To handle authentication on the platform we use https://github.com/plataformatec/devise. Just take a look at the providers available there :)

[2018-07-17 02:38] uira commented on #3048
Wow!

Just Perfect: https://github.com/plataformatec/devise/wiki/Extensions#external-authentication-integration

We gonna try to deploy and send a PR...

[2018-08-09 04:57] erickbrenes07 commented on #3009
Hi @WizardKid, how did you solved the undefined user problem, Im having the same issue.

[2018-08-09 21:55] erickbrenes07 opened #3065 "problem with users and links /pt/users/undefined/edit#about_me"
Hi, Im new on ruby and rails, I try to run catarse on ubuntu 16.04 but im having problems with some links and the category dropdown button. I know that there was a previous issue that WizardKid solved, but I didn't find the solution on the messages or didn't understand what to do. Can you please help me.

I basically register a new user on the registration webpage, but as soon as the user is regis

[2018-08-10 01:13] grpse commented on #3065
Hi @erickbrenes07!
Could you copy the response of localhost:3008/user_details request on Network console?
There can have the answer if some of the permissions are not assigned to the endpoint (view) on postgres.

[2018-08-10 02:31] erickbrenes07 commented on #3065
Thanks for your help

This is what the browser shows if I try localhost:3000/user_details:

<img width="750" alt="screen shot 2018-08-09 at 8 03 03 pm" src="https://user-images.githubusercontent.com/42229525/43935067-8317fdf4-9c0f-11e8-8186-efdb11451aca.png">

The user on the site show the following:

<img width="341" alt="screen shot 2018-08-09 at 8 11 06 pm" src="https://user-images.githubuserco

[2018-08-10 03:39] teddyswu commented on #2890
Same problem, But i add
CatarseSettings[:fdw_user] = 'postgres'
CatarseSettings[:common_db_user] = 'postgres'
CatarseSettings[:common_db_port] = '5432'
CatarseSettings[:common_db_password] = 'example'
CatarseSettings[:common_db_name] = 'service_core'

not work.........

Is there any other solution?

Thanks~

[2018-08-11 00:47] erickbrenes07 commented on #3065
@grpse any idea on this issue, thanks.

[2018-08-11 14:55] grpse commented on #3065
You should take a screenshot of web console from chrome or Firefox.

On Fri, Aug 10, 2018, 9:47 PM erickbrenes07 <notifications@github.com>
wrote:

[2018-09-28 06:07] kasonyu212 commented on #3065
I got the same problem @erickbrenes07  can you resolve this finally?

[2018-10-05 03:40] erickbrenes07 commented on #3065
I solve the problem doing a new installation. It works after the new installation.

[2018-10-05 04:46] erickbrenes07 opened #3079 "Blocked loading mixed active content"
Hi, Im having a problem with the connection to the db server or at least that's what the problem is.

The error on the firefox developer console is:
Blocked loading mixed active content “http://localhost:3004/projects?order=score.desc&score=gte.1&open_for_contributions=eq.true”

All the connections are returning the same error.

<img width="1272" alt="screen shot 2018-10-04 at 10 41 37 pm" src="ht

[2018-10-12 07:05] Basit-qc opened #3081 "is_owner_or_admin always returns null"
Hi everyone,
I have setup this project, but having following issues:
1- I can't see user's email on user profile page
2- Left navbar does not appear on `/insights` page
3- User cannot publish the project

After some debugging, it turned out that the field `is_owner_or_admin` of views
"1".project_details and  "1".user_details (and everywhere else)  always returns `null` unless we mark the field `ad

[2019-03-22 13:03] jcserracampos commented on #3009
Hey, @WizardKid, come back!

[2019-03-22 23:19] jcserracampos commented on #2599
PostgREST after v4 expects a configuration file so you can't use -a or --jwt-secret.
Download v 0.3.x or create a config.

[2019-03-23 15:01] Showyilu commented on #3036
1. Fork https://github.com/catarse/catarse.js
2. Change https://github.com/catarse/catarse.js/blob/develop/legacy/src/app.js#L13-L14 to the locale you want.
3. RUN npm run build:prod and you should see dist/catarse.js is changed
4. Push
5. Change package.json to point catarse.js to your repo.

[2019-03-23 15:10] rahul1504013 commented on #2458
I am facing same problem. I have updated my credentials in settings table but still image is not showing up

[2019-03-29 07:23] Basit-qc commented on #3036
1- Use `:en` in your _locale.rb_ (as @WizardKid suggested)
2- Follow the instructions @Showyilu provided above
3- You might need to do ```rake tmp:cache:clear``` after enabling locale _en_

[2019-04-10 10:31] rahul1504013 commented on #2859
Hey, have you solved the issue?

[2019-04-19 01:38] hfutzhu opened #3087 "npm install error on ubuntu."
:catarse/mithril-postgrest is not a valid repository name.

[2019-04-23 23:09] jcserracampos commented on #3087
@hfutzhu Can you try again with a updated codebase?

[2019-07-27 19:28] rraallvv opened #3088 "System requirements?"
Does anyone have an estimate for how much CPU power and memory does Catarse require? Thanks.

[2019-08-01 13:47] #2698 closed

[2019-08-01 13:48] #2465 closed

[2019-08-01 13:48] #2464 closed

[2019-08-31 12:57] colinbarr1965 opened #3090 "COLIN JAQMES BARR"

[2019-09-11 17:48] mitdrissia commented on #2779
is the memory leak issue solved in the updated version @ACPK @adrianob @vicnicius
How much users can it handle. For example if you have 1000 users is a 32gb ram core i7 enough to handle this load?

[2019-12-20 00:48] rraallvv commented on #2890
Has anyone been able to install Catarse from this repository with the latest changes?

[2019-12-20 00:59] rraallvv opened #3091 "How to install Catarse from this repository?"
The instructions in the README file seem outdated. If anyone has been able to install and run Catarse from this repository with the latest changes please share the installation steps so that the file can be update the new instructions.

[2020-05-06 03:23] youssephq26 opened #3092 "woocommerce checkout on external url"
Hello I would like to know how to get payed  and  transfert de order details  from website 1  to website 2 and complete the ordre
thank u

[2020-06-10 23:28] Ato123-beep commented on #2590
https://roisventures.com/17/shopping-cart?opt=1c67665285fb6a7d761414e12578e574&tp=fdaa31c8f9cdd6975c878d46d1f061a0

[2020-12-21 17:22] rozzu opened #3093 "rails migration error"
StandardError: An error has occurred, this and all later migrations canceled:

PG::CollationMismatch: ERROR:  recursive query "recursive_deps" column 1 has collation "default" in non-recursive term but collation "C" overall
LINE 6:           select p_view_schema, p_view_name, null::varchar, ...

![ebff3fc7-42e7-4dda-95d0-1902085a698f](https://user-images.githubusercontent.com/50772767/102804072-0f

[2021-02-15 06:51] ClimbersTeam commented on #2757
Hi any updates on it?

[2021-09-02 06:06] limweilun opened #3094 "NPM install error"
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! flow-bin@0.20.1 postinstall: `node lib/install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the flow-bin@0.20.1 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

Hi unable to resolve this issue, not sure if its regarding version differences or is it something else all